@media screen and (min-width: 900px) {
   .container {
    padding: 5rem;
    .filter {
        display: flex;
        justify-content: space-between;
    }
   } 

   .ext-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    gap: 1rem;
   }
}